<!DOCTYPE html>
<html>
<head>
	<title>Emotion Detection</title>
</head>
<body>
	<h1>Emotion Detection</h1>
	<form method="post" action="http://localhost:5000/detect_emotion" enctype="multipart/form-data">
		<input type="file" name="image" required>
		<br><br>
		<input type="submit" value="Detect Emotion">
	</form>

	<div id="result"></div>

	<script>
		const form = document.getElementById('upload-form');
		form.addEventListener('submit', async (event) => {
			event.preventDefault();

			const formData = new FormData(form);

			try {
				const response = await fetch('/detect_emotion', {
					method: 'POST',
					body: formData
				});

				if (response.ok) {
					const result = await response.text();
					
					document.getElementById('result').innerText = result;
					// console.log(result)
					// localStorage.setItem("emotionvalue",document.getElementById('result').innerText)
				} else {
					throw new Error(`Server returned ${response.status}: ${response.statusText}`);
				}
			} catch (error) {
				console.error(error);
			}
		});
	</script>
</body>
</html>
